$backColor: rgb(80, 75, 75);
$textColor: darkorange;
$landingButtonsTextColor: white;
$landingButtonsBorderColor: darkorange;
$landingButtonsTextColorHover: orange;
$buttonBackColor: #555;
$buttonBackColorHover: #444;

div{
    background-color:  rgba($color: #000000, $alpha: 0);
    color: $textColor;
}

legend {
  text-align: center;
  font-size: 25px;
}

.buttonsPanel{
  top: 10%;
  background-color: rgba($color: #000000, $alpha: 0);
  position: relative;
  padding: 20px;
}
.buttons{
  background-color: $buttonBackColor;
  border: 2px solid $landingButtonsBorderColor;
  padding: 20px;
  border-radius: 15px 50px 30px;  
 
  color: $landingButtonsTextColor;
  
  cursor: pointer;
  opacity: 0.8;
  padding: 16px 20px;
}
.buttons:hover{
    color: $landingButtonsTextColorHover;
    background-color: $buttonBackColorHover;
}

.pageFormField{
 	position: absolute;
	top: 20%;
  left: 55%;
  right: 25%;
  border: 2px solid $landingButtonsBorderColor;
  background-color: $buttonBackColor;
  padding: 40px;
  vertical-align: middle;
}

.pageFormField2{
  position: absolute;
 top: 20%;
 left: 23%;
 right: 53%;
 border: 2px solid $landingButtonsBorderColor;
 background-color: $buttonBackColor;
 padding: 40px;
 vertical-align: middle;
}

.pageForms input[type=text], .pageForms input[type=password], .pageForms input[type=email]{
    width: 86%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    opacity: 1;
    background: #f1f1f1;
    vertical-align: middle;
  
}

.btn {
  background-color: #4CAF50;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
  width: 96%;
  
  opacity: 0.8;

  padding: 15px;
 
}

/* Add a red background color to the cancel button */
.cancel {
  background-color: red;
}

.imgLandingLogo{
  display: block;
  max-width:60%;
  max-height:60%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;

}


.profileField{
  position: relative;
 border: 2px solid $landingButtonsBorderColor;
 background-color: $buttonBackColor;
 padding: 40px;
 
}